.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.userForm mat-form-field {
  width: 100%;
  margin-top: 10px;
}

textarea {
  resize: none;
}