<div class="container">
  <h3>Créer un nouvel utilisateur</h3>
  <form [formGroup]="newUser" class="userForm">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="firstName" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="lastName" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Genre</mat-label>
      <mat-select formControlName="gender">
        <mat-option value={{Gender.FEMME}}>Femme</mat-option>
        <mat-option value={{Gender.HOMME}}>Homme</mat-option>
        <mat-option value={{Gender.AUTRE}}>Autre</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Date de naissance</mat-label>
      <input matInput formControlName="birthdate" [matDatepicker]="picker">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Adresse</mat-label>
      <textarea matInput formControlName="address" rows="2" wrap="hard"
        placeholder="Rue de l'Église 15, 5000 Namur"></textarea>
    </mat-form-field>
    <button matButton="filled" [disabled]="newUser.invalid" (click)="create()">Créer</button>
  </form>
</div>