.action-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}



:host {
  mat-form-field {
    width: 100% !important;
  }

  h3 {
    text-align: center;
  }

  .exit{
    justify-self: start;
    margin-top: 15px;
  }
}


// mat-grid-tile button {

// }
