:host {
  display: block;
}

.home {
  position: relative;
  height: 100%;
  min-height: calc(100vh - 64px);
}

.home::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url("/bluewaves.svg") center top / cover no-repeat;

  z-index: 0;
  pointer-events: none;
}

.home>* {
  position: relative;
  z-index: 1;
}

h1 {
  margin-left: 20px;
}

.home-container {
  margin: 20px;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.home-card {
  background: rgba(0, 0, 0, 0.7);
  width: 500px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

mat-card-content {
  padding: 0;
}
