:host {
  display: block;
}



.home>* {
  position: relative;
  z-index: 1;
}

h1 {
  margin-left: 20px;
  text-align: center;
}

.home-container {
  margin: 20px;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.home-card {
  background: var(--dark-bg-color);
  width: 500px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

mat-card-content {
  padding: 0;
}