.empty-card {
  background: rgba(0, 0, 0, 0.5);
}

mat-card {
  background: radial-gradient(circle, rgba(53, 10, 60, 0.605) 0%, rgba(5, 13, 46, 0.638) 100%);
  margin: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-actions {
  justify-content: flex-end;
}