.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.cardForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cardForm mat-form-field {
  width: 100%;
  margin-top: 10px;
}
